* {
  margin: 0;
  padding: 0;
}

.container {
  height: 100vh;
  background-image: linear-gradient(to left, #151515,black);
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  align-items: center;
  color:white;

  .title {
    font-size: 6em;
  }


  .buttons {
    display: flex;
    gap: 10px;
    button {
      background-color: #000;
      color:white;
      border: none;
      outline: none;
      width: 60px;
      height: 60px;
      font-size: 2em;
      padding: 10px 20px;
      border-radius: 5px;
      cursor: pointer;
      transition: 250ms ease-in-out;

      &:hover {
        box-shadow: 1px 1px 8px gray;
        background-color: rgba(0, 0, 17, 0.78);
      }

    }
  }
}



